.architecture-bg-color{
    background: rgba(255, 144, 14, 0.1);
}
/* nav architecture */
.heading-architec{
    margin-left: 230px;
    margin-top: 50px;
    color: #131313;
}
/* .list-container{
    text-decoration: none;
} */
.list-item{
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 20px;
    color: #424242;
    /* margin-top: 60px; */
    margin-right: 240px;   
}
/* brand new group */
.heading-paragraph-text{
    text-align: center;
    margin-top: 80px;
}
.heading-color{
    color: #131313;
}
.btn-primary{
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    padding: 5px 10px;
    border-radius:10px;
    margin-top: 20px;
}
.banner-image > img{
    width:100%;
    height: 700px;
    left: 240px;
    margin-top: 50px;
    
}
/* business man */
.business-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-left: 250px;
}
.business-man-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 85px;
    gap: 25px;
}
.business-man-text{
    margin-top: 250px;
}
#color-dark{
    color:#727272;
}
#orange{
    color: #FF900E;
}