*{
    margin: 0px;
}
/* header section */
.architecture-bg-color{
    background: rgba(255, 144, 14, 0.1);
}
/* nav architecture */
.heading-architec{
    margin-left: 230px;
    margin-top: 30px;
    color: #131313;
}

.architecture{
    display: flex;
    gap:300px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.list-container{
    margin-top: 30px;
}
.list-item{
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 20px;
    color: #424242;
    /* margin-top: 60px; */
    margin-right: 240px;   
}
/* brand new group */
.brand-container{
    padding: 0 100px 100px 100px;
}
.heading-paragraph-text{
    text-align: center;
    margin-top: 80px;
}
.heading-color{
    color: #131313;
    font-size: 30px;
}
.btn-primary{
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    padding: 5px 10px;
    border-radius:10px;
    margin-top: 20px;
}
.banner-image > img{
    width:100%;
    height: 700px;
    left: 240px;
    margin-top: 50px;
    
}
/* business man */
.business-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-left: 250px;   
}
.business-man-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 85px;
    gap: 25px;
}
.business-man-text{
    margin-top: 250px;
}
#color-dark{
    color:#727272;
    margin-top: 40px;
}
#orange{
    color: #FF900E;
}
/* Features you will love & enjoy */
.architec-section{
    margin-top: 170px;
}
h4{
    border-left: 1px solid #FF900E;
    padding: 4px 4px;
    font-size: 30px;
}
.architec-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.blogs{
    margin-left: 200px;
}
.blog2,.blog3, .blog4, .blog5{
    margin-bottom: 100px;
}
.blog2,.blog3, .blog4, .blog5 {
    padding: 5px;
    margin:30px 30px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.btn-secondary{
    color:#FFFFFF;
    background: #FF900E;
    border: none;
    border-radius: 8px;
}
.button-second{
    position: relative;
    bottom: 50px;
    right:50px;
}
/* Some Effects */
.some-effect{
    margin-left: 240px;
}
/* awesome side */
.container-fact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 280px;
    margin-top: 100px;
    
}
.award-winnigns{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px;
    transition: 0.3s;
}
.award-winnigns:hover{
    background: #FF900E;
}
.number{
    font-size: 25px;
    color: #424242;
}
.award-text{
    font-size: 20px;
    color: #727272;   
}
/* Our sponspors */
.heading-paragraph-spons{
    margin-top: 150px;
    text-align: center;
    
}
.sponspors{
    margin-top: 50px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/* Extra section*/
.extra-section{
    margin-top: 80px;
    text-align: center;
}
.extra-section h1{
    color: aqua;
}
.extra-section img{
    width: 50%;
    height: 30%;
    margin-top: 10px;
    border: 1px solid orange;
}
/* footer section */
.footer-text{
    margin: 140px;
    text-align: center;
    border-radius: 8px;
    padding: 40px;
    color: #424242;
    background:  #FFF4E7;
}
